[base16_low]
    msg_urgency = low
    background = "#{{base01-hex}}a1"
    foreground = "#{{base03-hex}}"

[base16_normal]
    msg_urgency = normal
    background = "#{{base02-hex}}a1"
    foreground = "#{{base05-hex}}"

[base16_critical]
    msg_urgency = critical
    background = "#{{base08-hex}}a1"
    foreground = "#{{base06-hex}}"
